{% extends "base.html" %}
{% block content %}
<h1>Solar System</h1>
<p>Our solar system consists of our star, the Sun, and everything bound to it by gravity — the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune, dwarf planets such as Pluto, dozens of moons and millions of asteroids, comets and meteoroids. Beyond our own solar system, we have discovered thousands of planetary systems orbiting other stars in the Milky Way.</p>
<h2>One of Billions</h2>
<p>Our solar system is made up of a star, eight planets and countless smaller bodies such as dwarf planets, asteroids and comets.</p>
<h2>Meet me in the Orion Arm</h2>
<p>Our solar system orbits the center of the Milky Way Galaxy at about 515,000 mph (828,000 kph). We’re in one of the galaxy’s four spiral arms.</p>
<h2>A long way round</h2>
<p>It takes our solar system about 230 million years to complete one orbit around the galactic center.</p>
<h2>Spiraling through space</h2>
<p>There are three general kinds of galaxies: elliptical, spiral and irregular. The Milky Way is a spiral galaxy.</p>
<h2>Good Atmosphere(s)</h2>
<p>Our solar system is a region of space. It has no atmosphere. But it contains many worlds—including Earth—with many kinds of atmospheres.</p>
<h2>Many Moons</h2>
<p>The planets of our solar system—and even some asteroids—hold more than 150 moons in their orbits.</p>
<h2>Ring Worlds</h2>
<p>The four giant planets—and at least one asteroid—have rings. None are as spectacular as Saturn’s gorgeous rings.</p>
<h2>Leaving the cradle</h2>
<p>More than 300 robotic spacecraft have explored destinations beyond Earth orbit, including 24 astronauts who orbited the moon.</p>
<h2>Life as we know it</h2>
<p>Our solar system is the only one known to support life. So far, we only know of life on Earth, but we’re looking for more everywhere we can.</p>
<h2>Far-Ranging Robots</h2>
<p>NASA’s Voyager 1 is the only spacecraft so far to leave our solar system. Four other spacecraft will eventually hit interstellar space.</p>

{% endblock %}