<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Level 2</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' % }"/>
    </head>
    <body>
    <style>
        h1{
    color:red;
}
.djangotwo{
    border:2px solid black;
}
    </style>
    <h1>Hello this is Level 2</h1>
    <h2>Image insertion and Access record</h2>
    <img src="{% static 'images/logo.jpg' %}" alt="Uh oh,didn't show">
    <div class="djangotwo">
        {% if access_records %}
        <table>
            <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
            </thead>
        {% for acc in access_records %}
        <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
            </table>
        {% else %}
        <p>No access record found</p>
        {% endif %}
    </div>
    </body>
</html>